 

/*Common listing page Css*/
.items-wrapper {
  .item-wrapper:nth-child(odd){background-color:#f0f3f5}

}



.items-wrapper {
    position: relative;
    float: left;
    width: 98%;
    background-color: #fff;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .item-wrapper {  
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 1rem;
    display: table-cell;
    vertical-align: middle;
    border-radius: 0;
    cursor: pointer;
    border: 1px solid #efefef;
    margin: -1px; 
  }
  .items-wrapper  .item-wrapper{
    margin-bottom: 0;
  }

  .item-wrapper.active{    box-shadow:0 0 6px 2px #c3c3c3;; }
  .item-wrapper > * {
  
    padding:1rem 2rem;
    position: relative;
    float: left;
  
    white-space: normal;
    overflow: hidden;
    //text-overflow: ellipsis;
    height: 100%;
  
  }
  
  
  
  
  .item-email {
  
    width: 15%;
    //font-weight: 600;
    padding-top: 6px;
  
  }
  
  
  .item-name {
  
    width: 30%;
    font-weight: 100;
    padding-top: 6px;
  
  }
  .item-sha {
    width: 20%;
    padding-top: 6px;
  
  }
  
  
  
  .item-date {
  
    width: 15%;
    padding-top: 6px;
  
  }
  
 
  .item-image-wrapper{width:110px;}

  .item-wrapper [class*="item-"]{display: inline-block; vertical-align: middle; font-weight: 400; float: none; font-size: 15px; word-break: break-all;}
  
  
  .item-set-wrapper {
  
    margin-left: 10%;
    width: 10%;
  
  }
  
  
   .header-bg{
 background-color: rgb(101, 223, 231) !important;
   }