<h3>
    Git '{{repoName}}' Repository Commits History for 'Master' Branch
  </h3>
  <div class="main-page-wrapper">
  <div *ngIf="dataFound" class="items-wrapper">
    <div class="item-wrapper header-bg">
      <div class="item-sha">
        SHA
      </div>
      <div class="item-email">
        Author Email
      </div>
      <div class="item-name">
        Comments
      </div>
      <div class="item-date">
        Commit Date Time
      </div>

    </div>
    <div >

      <div *ngFor="let item of commitList; let i = index" class="item-wrapper">


        <div class="item-sha">
          {{item.sha}}
        </div>
        <div class="item-email">
          {{item.commit.author.email}}
        </div>
        <div class="item-name">
          {{item.commit.message}}
        </div>
        <div class="item-date">
          {{item.commit.author.date}}
        </div>

      </div>

    </div>

  </div>

</div>